<div class="container mt-5 mb-5">
  <div class="card p-3">
    <div class="row">
      <div class="col-6">
        <form #productForm="ngForm" (ngSubmit)="addProduct(productForm)">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Product Name</mat-label>
          <input matInput 
          placeholder="Product Name" 
          class="w-100"
          [(ngModel)]="product.productName"
          name="productName"
          />          
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Product Description</mat-label>
          <input matInput 
          placeholder="Product Description" 
          class="w-100"
          [(ngModel)]="product.productDescription"
          name="productDescription"
          />          
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Product Actual Price</mat-label>
          <input matInput
           placeholder="Product Actual Price" 
           class="w-100"
           [(ngModel)]="product.productActualPrice"
          name="productActualPrice"
          />          
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Product Discounted Price</mat-label>
          <input matInput 
          placeholder="Product Discounted Price" 
          class="w-100"
          [(ngModel)]="product.productDiscountedPrice"
          name="productDiscountedPrice"
          />          
        </mat-form-field>

        <div align="end">
          <button type= "submit" *ngIf="isnewProduct" class="btn btn-primary rounded-pill px-3 py-2" style="margin-right: 4px;">Add Product</button>
          <button type= "submit" *ngIf="!isnewProduct" class="btn btn-primary rounded-pill px-3 py-2" style="margin-right: 4px;">Update Product</button>
          <button class="btn btn-primary rounded-pill px-3 py-2">Clear</button>
        </div>
        </form>
      </div>
      <div class="col-6">
         <div>
         
          <div class="dropzone"
          appDrag
          (files) ="fileDropped($event)"
          >
            <div class="text-wrapper">
              <div class="text-centered">
                 Drag and drop your files here or
                 <a (click)="selectFile.click()" class="browse-btn">browse</a>
                 your files
              </div>
            </div>
          </div>
          <input type="file" 
          style="display: none;"
          multiple value="select" #selectFile 
             (change)="onFileSelected($event)"/>
         </div>
         <div class="mt-2">
          <div class="row">
            <mat-grid-list cols="4" rowHeight="1:1">
              <mat-grid-tile *ngFor="let file of product.productImages; let i = index;">
                <div style="position: relative;">
                  <span class="btn-remove-image" (click)="removeImages(i)">X</span>
                  <img [src]="file.url" width="100px" height="100px">
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
         </div>
        
      </div>
    </div>
  </div>
</div>
