<router-outlet></router-outlet>
<section
  style="
    background-image: url('images/banner-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  "
>
  <div class="container-lg">
    <div class="row">
      <div class="col-lg-6 pt-5 mt-5">
        <h2 class="display-1 ls-1">
          <span class="fw-bold text-success">Organic</span> Foods at your
          <span class="fw-bold">Doorsteps</span>
        </h2>
        <p class="fs-4">Fresh Organics, Anytime, Anywhere!</p>
        <div class="d-flex gap-3">
          <a
            href="/"
            class="btn btn-success text-uppercase fs-6 rounded-pill px-4 py-3 mt-3"
            style="background-color: #2e7d32"
            >Start Shopping</a
          >
          <a
            routerLink="/signup"
            class="btn btn-dark text-uppercase fs-6 rounded-pill px-4 py-3 mt-3"
          >
            Join Now
          </a>
          >
        </div>
        <div class="row my-5">
          <div class="col">
            <div class="row text-dark">
              <div class="col-auto">
                <p class="fs-1 fw-bold lh-sm mb-0">14k+</p>
              </div>
              <div class="col">
                <p class="text-uppercase lh-sm mb-0">Product Varieties</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row text-dark">
              <div class="col-auto">
                <p class="fs-1 fw-bold lh-sm mb-0">50k+</p>
              </div>
              <div class="col-2">
                <p class="text-uppercase lh-sm mb-0">Happy Customers</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row text-dark">
              <div class="col-auto">
                <p class="fs-1 fw-bold lh-sm mb-0">10+</p>
              </div>
              <div class="col">
                <p class="text-uppercase lh-sm mb-0">Store Locations</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="row row-cols-1 row-cols-sm-3 row-cols-lg-3 g-0 justify-content-center"
    >
      <div class="col">
        <div
          class="card border-0 rounded-0 p-4 text-light"
          style="background-color: #2e7d32"
        >
          <div class="row">
            <div class="col-md-3 text-center">
              <img src="images/farm.png" style="height: 5rem; width: 5rem" />
            </div>
            <div class="col-md-9">
              <div class="card-body p-0">
                <h5 class="text-light">Fresh from farm</h5>
                <p class="card-text">
                  Get fresh and quality groceries delivered from Fresh Farm.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-0 rounded-0 p-4 text-light">
          <div class="row">
            <div class="col-md-3 text-center">
              <img src="images/organic.png" style="height: 5rem; width: 5rem" />
            </div>
            <div class="col-md-9">
              <div class="card-body p-0">
                <h5 class="text-light">100% Organic</h5>
                <p class="card-text">
                  Get fresh, organic ingredients and grocery items.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card truckIcon border-0 rounded-0 p-4 text-light">
          <div class="row">
            <div class="col-md-3 text-center">
              <img src="images/truck.png" style="height: 5rem; width: 5rem" />
            </div>
            <div class="col-md-9">
              <div class="card-body p-0">
                <h5 class="text-light">Free delivery</h5>
                <p class="card-text">
                  Get free, fast, and high-quality organic groceries delivered
                  in less time.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Include other home page components -->
<!-- <app-smartmart></app-smartmart> -->
<app-popualar-product></app-popualar-product>
<app-discount-feature></app-discount-feature>
<app-appdemo></app-appdemo>
<app-feature-card></app-feature-card>
