<div class="bg-warning py-5 pt-5 rounded-5">
  <div >
    <div class="row d-inline-flex align-items-center justify-content-center">
      <div class="col-8 p-5  text-center  align-items-center"> 
        <h1>Download SmartMart App</h1>
        <p>Online Orders made easy, fast and reliable</p>
        <div class="d-flex gap-2 flex-wrap mb-5 align-items-center justify-content-center">
          <a href="#" title="App store"><img src="images/img-app-store.png" alt="app-store"></a>
          <a href="#" title="Google Play"><img src="images/img-google-play.png" alt="google-play"></a>
        </div>
      </div>
      <div class="col-md-4 banner">
        <img src="images/banner-onlineapp.png" alt="phone" class="img-fluid">
      </div>
    </div>
  </div>
</div>

 