<section class=" p-5">
<!-- <div class="container-fluid"> -->
  <div class="row">
    <!-- First column taking 7 parts of the row (out of 12) -->
    <div class="col-7">
      <div class="banner-ad-sale d-flex align-items-center large bg-info" 
           style="background: url('images/banner-ad-1.jpg') no-repeat; background-size: cover;">
        <div class="banner-content p-5">
          <div class="content-wrapper text-light">
            <h3 class="banner-title text-light">Items on SALE</h3>
            <p>Discounts up to 30%</p>
            <a href="#" class="btn-link text-white">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Second column taking 5 parts of the row (out of 12) -->
    <div class="col-5">
      <!-- First banner inside the second column -->
      <div class="row banner-ad-offer bg-success-subtle mb-3" 
           style="background:url('images/banner-ad-2.jpg') no-repeat;background-size: cover;">
        <div class="banner-content align-items-center p-5">
          <div class="content-wrapper text-light">
            <h3 class="banner-title text-light">Combo offers</h3>
            <p>Discounts up to 50%</p>
            <a href="#" class="btn-link text-white">Shop Now</a>
          </div>
        </div>
      </div>
      
      <!-- Second banner inside the second column -->
      <div class="row banner-ad-offer bg-danger" 
           style="background:url('images/banner-ad-3.jpg') no-repeat;background-size: cover;">
        <div class="banner-content align-items-center p-5">
          <div class="content-wrapper text-light">
            <h3 class="banner-title text-light">Discount Coupons</h3>
            <p>Discounts up to 40%</p>
            <a href="#" class="btn-link text-white">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
  
</section>




