/* Scoped styling for the custom table */
.custom-mat-table {
  width: 100%;
  border: 2px solid #080808;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 123, 255, 0.25);
  background: linear-gradient(to right, #f0faff, #ffffff);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15rem;
}

/* Header and cell base styling */
.custom-mat-table th.mat-header-cell,
.custom-mat-table td.mat-cell {
  border: 1px solid #007bff;
  padding: 16px;
  position: relative;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

/* Header specific styling */
.custom-mat-table th.mat-header-cell {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  text-align: left;
  z-index: 1;
}

/* Cell background */
.custom-mat-table td.mat-cell {
  background-color: #e9f3ff;
}

/* Hover effect on row */
.custom-mat-table tr.mat-row:hover td.mat-cell {
  background-color: #4494eb;
  box-shadow: inset 0 0 10px rgba(0, 123, 255, 0.3);
  cursor: pointer;
}

/* Hover effect on column */
.custom-mat-table td.mat-cell:hover {
  background-color: #6cbef8;
}

mat-icon {
  color: blue;
}
/* popualar-product.component.css */

.search-form {
  width: 100%; /* default on small screens */
  max-width: 100%;
}

/* Medium devices (≥768px) */
@media (min-width: 768px) {
  .search-form {
    width: 50%;
  }
}

/* Large devices (≥992px) */
@media (min-width: 992px) {
  .search-form {
    width: 30%;
  }
}

/* Extra large devices (≥1200px) */
@media (min-width: 1200px) {
  .search-form {
    width: 25%;
  }
}
